@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.carrossel {
    height: 100%;
}

.carrossel1 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
}

.quadro_informacoes {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 137px;
    left: 134px;
    height: 460px;
    width: 374px;
}

.quadro_informacoes h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.quadro_informacoes p {
    font-weight: 300;
    margin-bottom: 100px;
}

.quadro_informacoes a {
    color: #C50000;
    font-weight: 700;
}

.carrossel1, .carrossel2, .carrossel3, .carrossel4{
    position: relative;
}

.carrossel2, .carrossel3, .carrossel4{
    display: none;
}

.seta-de-avancar, .seta-de-voltar{
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
}

.seta-de-avancar { 
    right: 0;
    top: 300px;
}

.seta-de-voltar {
    transform: rotate(180deg);
    top: 320px;
} 

